
/* 颜色变量 */
$uni-color-green: rgba(50,161,56,1);
$uni-color-green-light: rgba(32,193,41,1);
$uni-color-green-shadow: rgba(47,167,53,0.5);
$uni-color-black: #333333;
$uni-color-gray-dark: #999999;
$uni-color-gray: #F6F6F9;
$uni-color-white: #fff;


/* 尺寸变量 */
/* 文字大小 */
$uni-font-size-small:24upx;
$uni-font-size-medium:30upx;
$uni-font-size-large:36upx;
/* 圆角大小 */
$uni-border-radius:20upx;
